<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>
      <h3>Short Premiums</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="max-height: 380px;overflow-x: auto;">
    <div [hidden]="!loading1" class="loader">
      <h5>Loading...</h5>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-table [dataSource]="shortPremiums" class="mat-elevation-z8" style="padding: 20px;">
      <ng-container matColumnDef="quonum">
        <mat-header-cell *matHeaderCellDef> Quotation No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Quonum}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pprnum">
        <mat-header-cell *matHeaderCellDef> Proposal No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Pprnum}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="agent">
        <mat-header-cell *matHeaderCellDef> Agent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Agent}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loccod">
        <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Loccod}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="addnot">
        <mat-header-cell *matHeaderCellDef style="padding-right: 10px;"> Short Premium </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-right: 10px;"> {{element.Addnot}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="process">
        <mat-header-cell *matHeaderCellDef> Process </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="process(element)">Process</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumn; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>
    </mat-table>

  </mat-card-content>
  <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
                  justify-content: space-between;">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="loadData();" showFirstLastButtons></mat-paginator>
  </mat-card-actions>
</mat-card>