<mat-tab-group>
  <mat-tab label="Policy Details">
    <mat-card class="tab-card">


      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="100%" style=" display:  flex; justify-content: center;">
          <table style="width: 100%">
            <tr>
              <td>
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <label style="font-size: 20px; ">
                    Policy Number : {{e.PolNum}}
                  </label>
                </div>
              </td>
              <td>
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <label style="font-size: 20px;">
                    Proposal Number : {{e.PprNum}}
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div style="margin: 10px; display:  flex; justify-content: center; font-size: 20px;">
                  ARPICO INVESTMENT PLAN / INVP
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <table>
                    <tr>
                      <td style="text-align: right;">Proposal Status </td>
                      <td> : </td>
                      <td> Policy Lapsed Permanent</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Branch </td>
                      <td> : </td>
                      <td> HO</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Agent Code </td>
                      <td> : </td>
                      <td> 1020</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Commencement Date </td>
                      <td> : </td>
                      <td> 2012-01-28</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Expire Date </td>
                      <td> : </td>
                      <td> 2032-01-28</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Basic Sum Assured </td>
                      <td> : </td>
                      <td> 744000.00</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Total Premium </td>
                      <td> : </td>
                      <td> 9320.00</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Term </td>
                      <td> : </td>
                      <td> 20</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Payment Frequancy </td>
                      <td> : </td>
                      <td> Monthly</td>
                    </tr>
                  </table>
                </div>

              </td>
            </tr>
          </table>
        </div>
      </div>

      <!--<table style="text-align: left">

        

         <tr>
          <td>Policy Number</td>
          <td> : </td>
          <td> {{e.PolNum}} </td>
          <td> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; </td>
          <td>Proposal Number</td>
          <td> : </td>
          <td> {{e.PprNum}} </td>
        </tr>
        <tr>
          <td>Customer Name</td>
          <td> : </td>
          <td colspan="5"> {{e.CustName}} </td>
        </tr>
        <tr>
          <td>Customer NIC</td>
          <td> : </td>
          <td colspan="5"> {{e.CustNic}} </td>
        </tr>
      </table> -->

    </mat-card>
  </mat-tab>
  <mat-tab label="Mainlife Details">
    <mat-card class="tab-card">
      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">
        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px; display:  flex; justify-content: center;">
            <table style="width: 100%">
              <tr>
                <td>Full Name </td>
                <td> : </td>
                <td> MALGAHA GAMAGE ANJANA MADUSHAN</td>
              </tr>
              <tr>
                <td>Name with Initials </td>
                <td> : </td>
                <td> M G A MADUSHAN</td>
              </tr>
              <tr>
                <td>Address </td>
                <td> : </td>
                <td> 4/7/C, KAMATHAWATHTHA RD,AMBALANGODA,POLGASOWITA</td>
              </tr>
              <tr>
                <td>NIC. No </td>
                <td> : </td>
                <td> 931123262V</td>
              </tr>
              <tr>
                <td>Mobile </td>
                <td> : </td>
                <td> 726221978</td>
              </tr>
              <tr>
                <td>Tele. No </td>
                <td> : </td>
                <td> 0111234567</td>
              </tr>
              <tr>
                <td>Previlage Card No </td>
                <td> : </td>
                <td> 1100120236910</td>
              </tr>
              <tr>
                <td>Email </td>
                <td> : </td>
                <td> </td>
              </tr>
              <tr>
                <td>Date of Birth </td>
                <td> : </td>
                <td> 1993-04-21</td>
              </tr>
              <tr>
                <td>Age next Birthday </td>
                <td> : </td>
                <td> 19</td>
              </tr>
              <tr>
                <td>Sex </td>
                <td> : </td>
                <td> Male</td>
              </tr>
              <tr>
                <td>Civil Status </td>
                <td> : </td>
                <td> Single</td>
              </tr>
              <tr>
                <td>Occupation/ Professtion </td>
                <td> : </td>
                <td> Air Force</td>
              </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListMain" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef> Sumassured </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.SumAssured}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef> Premium </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Premium}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>
          </mat-table>
        </div>
      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Spouse Details">
    <mat-card class="tab-card">

      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px; display:  flex; justify-content: center;">
            <table style="width: 100%">
              <tr>
                <td>Full Name </td>
                <td> : </td>
                <td> MALGAHA GAMAGE ANJANA MADUSHAN</td>
              </tr>
              <tr>
                <td>Name with Initials </td>
                <td> : </td>
                <td> M G A MADUSHAN</td>
              </tr>
              <tr>
                <td>NIC. No </td>
                <td> : </td>
                <td> 931123262V</td>
              </tr>
              <tr>
                <td>Date of Birth </td>
                <td> : </td>
                <td> 1993-04-21</td>
              </tr>
              <tr>
                <td>Occupation/ Professtion </td>
                <td> : </td>
                <td> Air Force</td>
              </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListSpouse" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef> Sumassured </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.SumAssured}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef> Premium </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Premium}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>
          </mat-table>
        </div>

      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Children Details">
    <mat-card class="tab-card">

      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px;  width: 100%; max-height: 375px; overflow-y: auto;">
              <table style="width: 100% ; margin-bottom: 10px; border-bottom: solid 1px rgb(218, 218, 218);" *ngFor="let element of childrenArray">
              <tr>
                <td>Full Name </td>
                <td> : </td>
                <td> {{element._CName}}</td>
              </tr>
              <tr>
                <td>Relation </td>
                <td> : </td>
                <td> {{element.Relationship}}</td>
              </tr>
              <tr>
                <td>DOB </td>
                <td> : </td>
                <td> {{element._CDob}}</td>
              </tr>
              <tr>
                <td>Age </td>
                <td> : </td>
                <td> {{element._CAge}}</td>
              </tr>
              <tr>
                  <td>CIBC </td>
                  <td> : </td>
                  <td> {{element._CAge}}</td>
                </tr>
                <tr>
                    <td>HCBC </td>
                    <td> : </td>
                    <td> {{element._CAge}}</td>
                  </tr>
                  <tr>
                      <td>HBC </td>
                      <td> : </td>
                      <td> {{element._CAge}}</td>
                    </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListChildren" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef> Sumassured </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.SumAssured}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef> Premium </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Premium}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>
          </mat-table>
        </div>
      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Payment History">
    <mat-card class="tab-card">

    </mat-card>
  </mat-tab>
</mat-tab-group>


<mat-dialog-content align="center" style="width: 1000px;">

  <hr>
  <form class="proposal-receipt-form">

    <mat-form-field style="padding-right: 10px;">
      <input matInput [matDatepicker]="dp1" placeholder="Due Date" disabled readonly [formControl]="dueDate">
      <mat-datepicker-toggle matSuffix [for]="dp1" disabled></mat-datepicker-toggle>
      <mat-datepicker disabled="false" #dp1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dp2" placeholder="Promise Date" [formControl]="settleDate">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="isPromiseAdd == 0" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: space-between;">
  <button mat-button style="background: #77B43F; color: white" (click)="addPromise()">Add Promise</button>
  <button mat-button mat-dialog-close style="background: #AA0001; color: white">Cancle</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isPromiseAdd == 1" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: center;">
  <div style="display: flex; justify-content: center ; width: 100%;">
    <img src="assets/images/checkmark.gif" style="width: 70px; height: 70px;">
  </div>
  <div style="margin-top: 10px;">
    <button mat-button mat-dialog-close style="background: #77B43F; color: white">Done</button>
  </div>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isPromiseAdd == 2" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: center;">
  <div style="display: flex; justify-content: center ; width: 100%;">
    <img src="assets/images/giphy.gif" style="width: 70px; height: 70px;">
  </div>
  <div style="margin-top: 10px;">
    <button mat-button mat-dialog-close style="background: #AA0001; color: white">Error</button>
  </div>
</mat-dialog-actions>