.tab-card{
    height: 320px;
    width : 952px;
    overflow: auto;
}

    .highlight{
        background: #42A948; /* green */
      }
.disabled {
        pointer-events: none;
        opacity: 0.5;
        background: #F7F7F7;
        background-position: center;
    }