<mat-tab-group *ngIf="workflowProposal != null">
  <mat-tab label="Policy Details">
    <mat-card class="tab-card">


      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="100%" style=" display:  flex; justify-content: center;">
          <table style="width: 100%">
            <tr>
              <td>
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <label style="font-size: 20px; ">
                    Policy Number : {{e.PolNum}}
                  </label>
                </div>
              </td>
              <td>
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <label style="font-size: 20px;">
                    Proposal Number : {{e.PprNum}}
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div style="margin: 10px; display:  flex; justify-content: center; font-size: 20px;">
                  {{workflowProposal.Plan}}
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div style="margin: 10px; display:  flex; justify-content: center;">
                  <table>
                    <tr>
                      <td style="text-align: right;">Proposal Status </td>
                      <td> : </td>
                      <td> {{workflowProposal.Plan}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Branch </td>
                      <td> : </td>
                      <td> {{workflowProposal.Branch}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Agent Code </td>
                      <td> : </td>
                      <td> {{workflowProposal.Agent}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Commencement Date </td>
                      <td> : </td>
                      <td> {{workflowProposal.ComDate}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Expire Date </td>
                      <td> : </td>
                      <td> {{workflowProposal.ExpDate}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Due Date </td>
                      <td> : </td>
                      <td> {{e.DueDate}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Basic Sum Assured </td>
                      <td> : </td>
                      <td> {{workflowProposal.Bsa}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Total Premium </td>
                      <td> : </td>
                      <td> {{workflowProposal.Totprm}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Term </td>
                      <td> : </td>
                      <td> {{workflowProposal.Term}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: right;">Payment Frequancy </td>
                      <td> : </td>
                      <td> {{workflowProposal.Frequancy}}</td>
                    </tr>
                  </table>
                </div>

              </td>
            </tr>
          </table>
        </div>
      </div>

      <!--<table style="text-align: left">

        

         <tr>
          <td>Policy Number</td>
          <td> : </td>
          <td> {{e.PolNum}} </td>
          <td> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; </td>
          <td>Proposal Number</td>
          <td> : </td>
          <td> {{e.PprNum}} </td>
        </tr>
        <tr>
          <td>Customer Name</td>
          <td> : </td>
          <td colspan="5"> {{e.CustName}} </td>
        </tr>
        <tr>
          <td>Customer NIC</td>
          <td> : </td>
          <td colspan="5"> {{e.CustNic}} </td>
        </tr>
      </table> -->

    </mat-card>
  </mat-tab>
  <mat-tab label="Mainlife Details">
    <mat-card class="tab-card">
      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">
        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px; display:  flex; justify-content: center;">
            <table style="width: 100%">
              <tr>
                <td>Full Name </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.FullName}}</td>
              </tr>
              <tr>
                <td>Name with Initials </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.NameIni}}</td>
              </tr>
              <tr>
                <td>Address </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Address}}</td>
              </tr>
              <tr>
                <td>NIC. No </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Nic}}</td>
              </tr>
              <tr>
                <td>Mobile </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Mobile}}</td>
              </tr>
              <tr>
                <td>Tele. No </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Phone}}</td>
              </tr>
              <tr>
                <td>Previlage Card No </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.PrevilageCard}}</td>
              </tr>
              <tr>
                <td>Email </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Email}}</td>
              </tr>
              <tr>
                <td>Date of Birth </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Dob}}</td>
              </tr>
              <tr>
                <td>Age next Birthday </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Age}}</td>
              </tr>
              <tr>
                <td>Sex </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Sex}}</td>
              </tr>
              <tr>
                <td>Civil Status </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.CivilStatus}}</td>
              </tr>
              <tr>
                <td>Occupation/ Professtion </td>
                <td> : </td>
                <td> {{workflowProposalMainLife.Occupation}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListMain" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict</mat-header-cell>
              <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Sumassured
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;">Rs.
                {{element.SumAssured | number: '.2'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Premium
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;">Rs.
                {{element.Premium | number: '.2'}} </mat-cell>
              <!-- <mat-cell *matCellDef="let element" [class.highlight] = "element.RiderCode == 'ADB'" style="display: flex; justify-content: flex-end;">Rs.
                  {{element.Premium | number: '.2'}} </mat-cell> -->
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
              (onload)="highlight(row)"></mat-row>
          </mat-table>
        </div>
      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Spouse Details" *ngIf="activeSpouse">
    <mat-card class="tab-card">

      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px; display:  flex; justify-content: center;">
            <table style="width: 100%">
              <tr>
                <td>Full Name </td>
                <td> : </td>
                <td> {{workflowProposalSpouse.FullName}}</td>
              </tr>
              <tr>
                <td>Name with Initials </td>
                <td> : </td>
                <td> {{workflowProposalSpouse.NameIni}}</td>
              </tr>
              <tr>
                <td>NIC. No </td>
                <td> : </td>
                <td> {{workflowProposalSpouse.Nic}}</td>
              </tr>
              <tr>
                <td>Date of Birth </td>
                <td> : </td>
                <td> {{workflowProposalSpouse.Dob}}</td>
              </tr>
              <tr>
                <td>Occupation/ Professtion </td>
                <td> : </td>
                <td> {{workflowProposalSpouse.Occupation}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListSpouse" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict Code </mat-header-cell>
              <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Sumassured
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> Rs.
                {{element.SumAssured | number: '.2'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Premium
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> Rs.
                {{element.Premium | number: '.2'}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>
          </mat-table>
        </div>

      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Children Details" *ngIf="activeChild">
    <mat-card class="tab-card">

      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="50%" style=" display:  flex; justify-content: center; font-size: 12px;">
          <div style="margin: 10px;  width: 100%; max-height: 375px; overflow-y: auto;">
            <table style="width: 100% ; margin-bottom: 10px; border-bottom: solid 1px rgb(218, 218, 218);" *ngFor="let element of childrenArray">
              <tr>
                <td style="width: 150px;">Full Name </td>
                <td> : </td>
                <td> {{element._CName}}</td>
              </tr>
              <tr>
                <td>Relation </td>
                <td> : </td>
                <td> {{element.Relationship}}</td>
              </tr>
              <tr>
                <td>DOB </td>
                <td> : </td>
                <td> {{element._CDob}}</td>
              </tr>
              <!-- <tr>
                <td>Age </td>
                <td> : </td>
                <td> {{element._CAge}}</td>
              </tr> -->
              <tr>
                <td>CIBC </td>
                <td> : </td>
                <td> {{element._CCibc == true ? "Applied" : "Not Applied"}}</td>
              </tr>
              <tr>
                <td>HCBC </td>
                <td> : </td>
                <td> {{element.IsGetHcbiOrHcbf == true ? "Applied" : "Not Applied"}}</td>
              </tr>
              <tr>
                <td>SHCBC </td>
                <td> : </td>
                <td> {{element._CShcbfc == true ? "Applied" : "Not Applied"}}</td>
              </tr>
              <tr>
                <td>HBC </td>
                <td> : </td>
                <td> {{element._CHbc == true ? "Applied" : "Not Applied"}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div fxFlex="50%" style=" display:  flex; justify-content: center; ">
          <mat-table [dataSource]="benefictListChildren" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 375px; overflow-y: auto;">
            <ng-container matColumnDef="riderCode">
              <mat-header-cell *matHeaderCellDef> Benefict Code </mat-header-cell>
              <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.RiderCode}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sumAssured">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Sumassured
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> Rs.
                {{element.SumAssured | number: '.2'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="premium">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Premium
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> Rs.
                {{element.Premium | number: '.2'}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="benefictTblDisplayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: benefictTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>
          </mat-table>
        </div>
      </div>

    </mat-card>
  </mat-tab>
  <mat-tab label="Payment History">
    <mat-card class="tab-card">

      <mat-tab-group>
        <mat-tab label="Payments">
          <mat-card>
            <div fxFlex="100%" style=" display:  flex; justify-content: center; ">

              <mat-table [dataSource]="paymentHistory" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 223px; overflow-y: auto;">
                <ng-container matColumnDef="txnyer">
                  <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Txnyer}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="txnmth">
                  <mat-header-cell *matHeaderCellDef> Month </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Txnmth}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="txndat">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Txndat}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="setamt">
                  <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Amount Settled
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> Rs.
                    {{element.Setamt | number: '.2'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dueamt">
                  <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end; padding-right: 10px;">
                    Amount Due
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end; padding-right: 10px;">
                    Rs.
                    {{element.Dueamt | number: '.2'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="duedat">
                  <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Duedat}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="outstd">
                  <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end; padding-right: 10px;">
                    Outstanding
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end; padding-right: 10px;">
                    Rs.
                    {{element.Outstd | number: '.2'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="remark">
                  <mat-header-cell *matHeaderCellDef> Referance </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Remark}}
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="paymentHistoryTblDisplayColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: paymentHistoryTblDisplayColumns;" (dblclick)="loadData(element)"></mat-row>

              </mat-table>

            </div>
          </mat-card>
        </mat-tab>
        <mat-tab label="Receipt History">
            <mat-card>
              <div fxFlex="100%" style=" display:  flex; justify-content: center; ">
  
                <mat-table [dataSource]="lastReceipt" class="mat-elevation-z8" style="width: 100%; box-shadow: none; max-height: 223px; overflow-y: auto;">
                  <ng-container matColumnDef="doccod">
                    <mat-header-cell *matHeaderCellDef> Doc. Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Doccod}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="docnum">
                    <mat-header-cell *matHeaderCellDef> Doc. Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Docnum}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="proposalNo">
                      <mat-header-cell *matHeaderCellDef> Proposal No </mat-header-cell>
                      <mat-cell *matCellDef="let element" > {{element.Pprnum}}
                      </mat-cell>
                    </ng-container>
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{element.RiderName}} "> {{element.Credat}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="paymode">
                    <mat-header-cell *matHeaderCellDef> Pay Mode
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Paymod}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end; padding-right: 10px;">
                      Amount 
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end; padding-right: 10px;">
                      Rs.
                      {{element.Topprm | number: '.2'}} </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="cheque_rel">
                    <mat-header-cell *matHeaderCellDef> Cheque Rel. </mat-header-cell>
                    <mat-cell *matCellDef="let element" > {{element.Chqrel}}
                    </mat-cell>
                  </ng-container>
  
                  
  
                  <mat-header-row *matHeaderRowDef="receiptHistoryTblDisplayColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: receiptHistoryTblDisplayColumns;" ></mat-row>
  
                </mat-table>
  
              </div>
            </mat-card>
          </mat-tab>

      </mat-tab-group>
    </mat-card>
  </mat-tab>
</mat-tab-group>


<mat-dialog-content align="center" style="width: 1000px;">

  <hr>
  <form class="proposal-receipt-form" [formGroup]="promise_form">

    <!-- <mat-form-field style="padding-right: 10px;">
      <input matInput [matDatepicker]="dp1" placeholder="Due Date" disabled readonly [formControl]="dueDate">
      <mat-datepicker-toggle matSuffix [for]="dp1" disabled></mat-datepicker-toggle>
      <mat-datepicker disabled="false" #dp1></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field style="padding-right: 10px;">
      <mat-select placeholder="Payment Mode" aria-label="Payment Mode" formControlName="paytype">
        <mat-option value="BRANCH">
          Branch
        </mat-option>
        <mat-option value="Bank">
          Bank
        </mat-option>
        <mat-option value="AGENT">
          Agent
        </mat-option>
        <mat-option value="SUPER_CENTER">
          Super Center
        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field style="padding-right: 10px;">
      <input matInput [matDatepicker]="dp2" placeholder="Promise Date" formControlName="settleDate">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Remark" aria-label="Remark" formControlName="remark">
      </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="isPromiseAdd == 0" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: space-between;">
  <button mat-button style="background: #77B43F; color: white" (click)="addPromise()">Add Promise</button>
  <button mat-button mat-dialog-close style="background: #AA0001; color: white">Cancle</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isPromiseAdd == 1" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: center;">
  <div style="display: flex; justify-content: center ; width: 100%;">
    <img src="assets/images/checkmark.gif" style="width: 70px; height: 70px;">
  </div>
  <div style="margin-top: 10px;">
    <button mat-button mat-dialog-close style="background: #77B43F; color: white">Done</button>
  </div>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isPromiseAdd == 2" style="border-top: solid #C4C4C4 1px; display: flex; justify-content: center;">
  <div style="display: flex; justify-content: center ; width: 100%;">
    <img src="assets/images/giphy.gif" style="width: 70px; height: 70px;">
  </div>
  <div style="margin-top: 10px;">
    <button mat-button mat-dialog-close style="background: #AA0001; color: white">Error</button>
  </div>
</mat-dialog-actions>