<!--<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>-->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" opened mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button mat-mini-fab color="primary" (click)="drawer.toggle()"><i class="material-icons">more_vert</i></button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>