<div [hidden]="!loading_saving" class="loader">
  <h5>Saving...</h5>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [ngClass]="{'disabled': loading_saving == true}" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="40%">
    <mat-card class="main-card sk-style-mat-card">

      <mat-card-header style=" display: flex; 
        justify-content: space-between; margin-top: -23px; margin-left: -13px;">
        <mat-card-title>
          <h3>Miscellaneous Receipt (GL)</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div [hidden]="!loading_form" class="loader">
          <h5>Loading...</h5>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div [ngClass]="{'disabled': loading_form == true}">
          <div>
            <table style="width: 100%">
              <tr *ngFor="let lstrct of data_cpy">
                <td>{{lstrct.DocCode}} / {{lstrct.DocNo}}</td>
                <td>{{lstrct.Date}}</td>
                <td style="text-align: right">{{lstrct.Amount | number: '.2' }}</td>
              </tr>
            </table>
          </div>
          <form class="proposal-receipt-form" [formGroup]="receiptForm">
            <mat-form-field>
              <mat-select tabindex="1" formControlName="branchCode" placeholder="Branch">
                <mat-option *ngFor="let branch of branches" [value]="branch.Id">
                  <span> {{ branch.Id }} </span> |
                  <small> {{ branch.Description }} </small>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="full-width">
              <input matInput tabindex="2" placeholder="Bank Code *" aria-label="Bank Code" [matAutocomplete]="bank"
                formControlName="bankCode">
              <mat-autocomplete #bank="matAutocomplete">
                <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.BankCode">
                  <span> {{ bank.BankCode }} </span> |
                  <small> {{ bank.BankName }} </small>
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="BankCode.hasError('required')">
                Bank is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput tabindex="3" placeholder="Remark" aria-label="Remark" formControlName="remark">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Payment Mode" aria-label="Payment Mode" formControlName="paymode">
                <mat-option value="CS">
                  CASH
                </mat-option>
                <!--<mat-option value="CQ">
                  CHEQUE
                </mat-option>
                 <mat-option value="CR">
                      CREDIT CARD
                    </mat-option>
                    <mat-option value="DD">
                      DIRECT DEPOSIT
                    </mat-option> -->
              </mat-select>
              <mat-error *ngIf="PayMode.hasError('required')">
                Pay Mode is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>
            <mat-card *ngIf="PayMode.value == 'CQ'" style="margin-bottom: 10px;">
              <mat-form-field class="half-width">
                <input matInput tabindex="4" type="number" placeholder="Cheque No" aria-label="Cheque No"
                  formControlName="chequeno">
              </mat-form-field>
              <mat-form-field>
                <input matInput tabindex="5" [matDatepicker]="picker" placeholder="Cheque Date" formControlName="chequedate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput tabindex="6" type="number" placeholder="Bank" aria-label="Bank" formControlName="chequebank">
              </mat-form-field>
            </mat-card>
            <!-- <mat-card *ngIf="PayMode.value == 'CR'" style="margin-bottom: 10px;">
                  <mat-form-field class="half-width">
                    <input matInput placeholder="Credit Transfer No" aria-label="Credit Transfer No" formControlName="credittransferno">
                  </mat-form-field>
                </mat-card> -->

            <mat-form-field class="full-width">
              <input matInput disabled readonly placeholder="Amount" type="number" aria-label="Amount" class="right-align"
                formControlName="amount">
              <span matPrefix>Rs.</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="Amount.hasError('required')">
                Amount is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Amount in Word" readonly disabled aria-label="Amount in Word"
                formControlName="amountInWord">
            </mat-form-field>

          </form>
        </div>

      </mat-card-content>
      <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
          justify-content: space-between;">
        <button mat-raised-button color="warn" (click)="newReceipt()">CLEAR</button>
        <button mat-raised-button color="primary" (click)="saveReceipt()">SAVE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="60%">
    <mat-card class="main-card sk-style-mat-card-2" style="margin-top: 6px;margin-right: 6px; margin-bottom: 6px;">
      <mat-card-header style=" margin-top: -23px; margin-left: -13px;">
        <mat-card-title>
          <h3>Account</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [hidden]="!loading_form2" class="loader">
          <h5>Loading...</h5>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div [ngClass]="{'disabled2': loading_form2 == true}">
          <form class="proposal-receipt-form" [formGroup]="accountForm">
            <mat-form-field class="full-width">
              <mat-select tabindex="7" placeholder="Account" (change)="fillExpence()" formControlName="accountId">
                <mat-option *ngFor="let account of accounts" [value]="account.id">
                  <span> {{ account.id }} </span> |
                  <small> {{ account.description }} </small>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
              <input matInput tabindex="8" placeholder="Remark" formControlName="accRemark">
            </mat-form-field>
            <mat-form-field class="half-width">
              <input type="number" tabindex="9" matInput placeholder="Amount" formControlName="accAmount">
              <span matPrefix>Rs.</span>
              <span matSuffix>.00</span>
            </mat-form-field>

          </form>
        </div>

      </mat-card-content>
      <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
          justify-content: space-between;">
        <button mat-raised-button tng serveabindex="11" color="warn" (click)="deleteInCart()">Delete</button>
        <button mat-raised-button tabindex="10" color="primary" (click)="addToCart()">Add</button>
      </mat-card-actions>

      <mat-card-content>
        <div style="height: 188px; overflow-y: auto;">
          <mat-table #table [dataSource]="accountCart">
            <ng-container matColumnDef="accId">
              <mat-header-cell *matHeaderCellDef> Account Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="remark">
              <mat-header-cell *matHeaderCellDef> Remark </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Remark}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Amount
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> {{element.Amount |
                number: '.2'}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="accColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: accColumns; let i = index;" (click)="loadExp(row, i)"></mat-row>
          </mat-table>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="main-card" style="height: 258px; margin-right: 6px; margin-top: 7px;">

      <div [hidden]="!loading_table" class="loader">
        <h5>Loading...</h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div [ngClass]="{'disabled': loading_table == true}">
        <mat-table #table [dataSource]="data" style="height: 258px; ">
          <ng-container matColumnDef="doccod">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DocCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="docnum">
            <mat-header-cell *matHeaderCellDef> Receipt No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DocNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="credat">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Date}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="agent">
            <mat-header-cell *matHeaderCellDef style="text-align: right"> Remark </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: right"> {{element.AgentCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end;"> Amount
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end;"> {{element.Amount |
              number: '.2'}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>


    </mat-card>
  </div>
</div>