.sk-style-mat-card{
    min-height: 767px;
     margin-top: 6px;
     margin-left: 6px;
     margin-right: -8px;
      margin-bottom: 6px;
}

.sk-style-mat-card-2{
    margin-top: 6px;
    margin-right: 6px;
     margin-bottom: 6px;
}