<div  class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title><img mat-carad-image src="assets/images/logo.png" alt="ARPICO INSURANCE"><h2>Sign in </h2></mat-card-title>
      <mat-card-subtitle class="login-card-sub">with your Arpico Insurance Account</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="voffset-5">
      <form class="login-form">
        <!--<mat-form-field class="login-full-width">
          <input matInput placeholder="User Name" >
        </mat-form-field>-->
      
        <mat-form-field class="login-full-width">
          <input matInput type="password" placeholder="Password" >
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput type="password" placeholder="New Password" >
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput type="password" placeholder="Confirm Password" >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary">Sing in</button>
    </mat-card-footer>
  </mat-card>
</div>

