<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" opened mode="side">
        <mat-card class="nav-header">
            <mat-card-title class="nav-header-title" style="margin: 0; padding: 0;">
                <img class="nav-header-title-image"  routerLink="home" mat-carad-image src="assets/images/logo.png" alt="ARPICO INSURANCE">
            </mat-card-title>
        </mat-card>


        <button *ngIf = "menuList.includes('RECEIPT')" mat-button [matMenuTriggerFor]="receipt" style="width: 210px; margin: 10px; text-align: left;">RECEIPT</button>

        <mat-menu #receipt="matMenu" yPosition="below" xPosition="before" >
            <button *ngIf = "menuList.includes('RECEIPT_POLICY')" mat-menu-item routerLink="policyreceipt">POLICY RECEIPT</button>
            <button *ngIf = "menuList.includes('RECEIPT_PROPOSAL')" mat-menu-item routerLink="proposalreceipt">PROPOSAL RECEIPT</button>
            <button *ngIf = "menuList.includes('RECEIPT_QUOTATION')" mat-menu-item routerLink="quoreceipt">QUOTATION RECEIPT</button>
            <hr *ngIf = "menuList.includes('RECEIPT_MISCLLANEOUS') || menuList.includes('RECEIPT_MISCLLANEOUS_GL')">
            <!-- <button *ngIf = "menuList.includes('RECEIPT_MISCLLANEOUS')" mat-menu-item routerLink="miscellaneousreceipt">MISCELLANEOUS RECEIPT</button> -->
            <button *ngIf = "menuList.includes('RECEIPT_MISCELLANEANEOUS ')" mat-menu-item routerLink="miscellaneousreceipt">MISCELLANEOUS RECEIPT INV</button>
            <button *ngIf = "menuList.includes('RECEIPT_MISCELLANEANEOUS_GL ')" mat-menu-item routerLink="miscellaneousreceiptgl">MISCELLANEOUS RECEIPT GL</button>
            <hr  *ngIf = "menuList.includes('RECEIPT_CANCELATION') || menuList.includes('RECEIPT_RE_PRINT')">
            <button *ngIf = "menuList.includes('RECEIPT_CANCELATION')" mat-menu-item routerLink="receiptcancelation">RECEIPT CANCELATION</button>
            <button *ngIf = "menuList.includes('RECEIPT_RE_PRINT')" mat-menu-item routerLink="receiptreprint">RECEIPT RE PRINT</button>

        </mat-menu>

        <button *ngIf = "menuList.includes('UNDERWRITE')" mat-button [matMenuTriggerFor]="underwrite" style="width: 210px; margin: 10px; text-align: left;">UNDERWRITE</button>

        <mat-menu #underwrite="matMenu" yPosition="below" xPosition="before" >
            <button *ngIf = "menuList.includes('UNDERWRITE_L1')" mat-menu-item routerLink="underwrite">UNDERWRITE</button>
        </mat-menu>

        <button *ngIf = "menuList.includes('INQUIRY')" mat-button [matMenuTriggerFor]="inquiry" style="width: 210px; margin: 10px; text-align: left;">INQUIRY</button>

        <mat-menu #inquiry="matMenu" yPosition="below" xPosition="before" >
            <button *ngIf = "menuList.includes('RECEIPT_INQUIRY')" mat-menu-item routerLink="receiptinquiry">RECEIPT INQUIRY</button>
            <button *ngIf = "menuList.includes('PROPOSAL_INQUIRY')" mat-menu-item (click)="loadProposalInquiry();">PROPOSAL INQUIRY</button>
        </mat-menu>

    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <button mat-mini-fab color="primary" (click)="drawer.toggle()">
                <i class="material-icons">more_vert</i>
            </button>
            <span class="spacer"></span>
            <button mat-button [matMenuTriggerFor]="menu">{{user}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click) = "signout()">Sign out</button>
            </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>