.container {
    height: 100vh;
    width: 100%;
  }
  
  .sidenav-content {
    height: 100%;
  }
  
  .sidenav {
    width: 230px;
    border-right: solid 2px #3F51B5;
  }

  .nav-header-title-image, .nav-header{
    width: 180px;
  }

  .nav-header{
    height: 120px;
  }

  .nav-header-title-image{
    padding: 0;
  }

  .button {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .matMenuItem,.logoutstyle{
    height: 35px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    
  
  }
.new-sk-style{
  background-color: aqua;
}
