<mat-card class="main-card">
  <mat-card-header style="  margin-top: -20px;margin-left: -13px; display: flex; justify-content: space-between;">
    <mat-card-title>
      <h3>New Business U/W</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="max-height: 380px;overflow-x: auto;">
    <div [hidden]="!loading1" class="loader">
      <h5>Loading...</h5>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div [ngClass]="{'disabled': loading1 == true}">
      <mat-table [dataSource]="datasourceProposal" class="mat-elevation-z8" style="padding: 20px;">
        <ng-container matColumnDef="proposalNo">
          <mat-header-cell *matHeaderCellDef> Proposal No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.proposalNo}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="sequenceNo">
          <mat-header-cell *matHeaderCellDef> Sequence No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sequenceNo}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="product">
          <mat-header-cell *matHeaderCellDef> Product Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
          <!-- <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" >CLEAR</button></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="proposedName">
          <mat-header-cell *matHeaderCellDef> Proposed Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.proposedName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nic">
          <mat-header-cell *matHeaderCellDef> Nic </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nic}} </mat-cell>
          <!-- <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" >CLEAR</button></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="agent">
          <mat-header-cell *matHeaderCellDef> Agent </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.agent}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="policyBranch">
          <mat-header-cell *matHeaderCellDef> Policy Branch </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.policyBranch}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agentBranch">
          <mat-header-cell *matHeaderCellDef> Agent Branch </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.agentBranch}} </mat-cell>
        </ng-container>

       

        

        <mat-header-row *matHeaderRowDef="displayedColumnsProposal; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsProposal;" (dblclick)="loadData(row.proposalNo,row.sequenceNo,row.policyBranch,row.agent)"></mat-row>
      </mat-table>
    </div>



  </mat-card-content>
  <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
                    justify-content: space-between;">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="loadNextData();" showFirstLastButtons></mat-paginator>
  </mat-card-actions>
</mat-card>