<div [hidden]="!loading" class="loader">
  <h5>Changing....</h5>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [ngClass]="{'disabled': loading == true}" class="container">

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <img mat-carad-image src="assets/images/logo.png" alt="ARPICO INSURANCE">
        <h1 style="font-size: 20px; margin-left: 0px;">Change Password </h1>
      </mat-card-title>
      <mat-card-subtitle class="login-card-sub" > Password must be contains with minimum 8 characters </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="voffset-5">
      <form class="login-form" [formGroup]="loginForm">
        <!-- <mat-form-field class="full-width">
          <input matInput formControlName="userName" placeholder="User Name">
          <mat-error *ngIf="userName.touched && userName.invalid && userName.errors.required">
            Username is
            <strong>required</strong>
          </mat-error>
        </mat-form-field> -->

        <mat-form-field class="full-width">
          <input matInput formControlName="password" type="password" placeholder="Current Password">
          <mat-error *ngIf="password.touched && password.invalid && password.errors.required">
            Current Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName="newPassword" type="password" placeholder="New Password">
          <mat-error *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors.required">
            New Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName="newPasswordConfirm" type="password" placeholder="Confirm Password">
          <mat-error *ngIf="newPasswordConfirm.touched && newPassword !== newPasswordConfirm">
            Password not Matched
          </mat-error>
        </mat-form-field>
      </form><br>

      <div class="error-div" *ngIf="notMatch">
        <p>Password Confirmation not Matched</p>
      </div>
      <div class="error-div" *ngIf="changeFail">
        <p>Password Change Failed.Try again .</p>
      </div>

    </mat-card-content>
    <mat-card-footer>
      <!-- <button *ngIf="loginResponse.IsExpired == false" mat-raised-button color="primary" (click)="singin()">Sign in</button> -->
      <button mat-raised-button color="primary" (click)="changePassword()">Change
        Password</button>
    </mat-card-footer>
  </mat-card>
</div>
