.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
    background-position: center;
}

.sk-style-mat-card{
    min-height: 677px;
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
      margin-bottom: 0px;
}

.sk-style-mat-card-2{
    margin-top: 6px;
    margin-right: 6px;
     margin-bottom: 6px;
}