.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #F7F7F7;
    background-position: center;
}


.disabled2 {
    display: none;
    pointer-events: none;
    opacity: 0.5;
    background: #F7F7F7;
    background-position: center;
}