<div *ngIf="loading4" style="margin-bottom: 10px; margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [ngClass]="{'disabled': loading4 == true}" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="100%">
    <mat-card class="main-card" style="min-height: 741px;">

      <mat-card-header style="margin-bottom: 10px;">
        <mat-card-title>
          <h3>Cash flow Details</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="loading3" style="margin-bottom: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="border-bottom: solid 4px #3F51B5; margin-bottom: 10px;"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
          <div [ngClass]="{'disabled': loading3 == true}">
            <mat-form-field class="padding-right-10">
              <input matInput [matDatepicker]="dp11" placeholder="From" [formControl]="fromdate2">
              <mat-datepicker-toggle matSuffix [for]="dp11"></mat-datepicker-toggle>
              <mat-datepicker #dp11></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="padding-right-10">
              <input matInput [matDatepicker]="dp12" placeholder="To" [formControl]="todate2">
              <mat-datepicker-toggle matSuffix [for]="dp12"></mat-datepicker-toggle>
              <mat-datepicker #dp12></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="getCashFlowDetails()">Search</button>
          </div>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="25%">
            <div class="new-Business-div" (click)="getCashFlowGrid('CS')">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxLayoutAlign="center">
                <div fxFlex="60%">
                  <div>
                    <p style="padding: 5px;">
                      <span style="font-size: 18px;">{{dashboardCashFlow.CsAmount | number: '.2'}}</span><br>
                      <span style="font-size: 15px;">Cash</span><br>
                      <span style="font-size: 20px;">{{dashboardCashFlow.CsCount}}</span>
                    </p>
                  </div>
                </div>
                <div fxFlex="40%">
                  <div class="flex-box">
                    <div>
                      <i class="fas fa-dollar-sign fa-4x icon_dash" style="color: #18A55D"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="proposal-div" (click)="getCashFlowGrid('CQ')">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxLayoutAlign="center">
                <div fxFlex="60%">
                  <div>
                    <p style="padding: 5px;">
                      <span style="font-size: 18px;">{{dashboardCashFlow.CqAmount | number: '.2'}}</span><br>
                      <span style="font-size: 15px;">Cheque</span><br>
                      <span style="font-size: 20px;">{{dashboardCashFlow.CqCount}}</span>
                    </p>
                  </div>
                </div>
                <div fxFlex="40%">
                  <div class="flex-box">
                    <div>
                      <i class="fas fa-money-check fa-4x icon_dash" style="color: #DB4C3F"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25%">
            <div class="policy-div" (click)="getCashFlowGrid('DD')">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxLayoutAlign="center">
                <div fxFlex="60%">
                  <div>
                    <p style="padding: 5px;">
                      <span style="font-size: 18px;">{{dashboardCashFlow.DdAmount | number: '.2'}}</span><br>
                      <span style="font-size: 15px;">Direct Deposit</span><br>
                      <span style="font-size: 20px;">{{dashboardCashFlow.DdCount}}</span>
                    </p>
                  </div>
                </div>
                <div fxFlex="40%">
                  <div class="flex-box">
                    <div>
                      <i class="fas fa-hand-holding-usd fa-4x icon_dash" style="color: #1FC1ED "></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25%">
            <div class="inv-div" (click)="getCashFlowGrid('CR')">
              <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxLayoutAlign="center">
                <div fxFlex="60%">
                  <div>
                    <p style="padding: 5px;">
                      <span style="font-size: 18px;">{{dashboardCashFlow.CrAmount | number: '.2'}}</span><br>
                      <span style="font-size: 15px;">Credit Card</span><br>
                      <span style="font-size: 20px;">{{dashboardCashFlow.CrCount}}</span>
                    </p>
                  </div>
                </div>
                <div fxFlex="40%">
                  <div class="flex-box">
                    <div>
                      <i class="fas fa-credit-card fa-4x icon_dash" style="color: #F19B2C"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-header style="margin-bottom: 10px;">
        <mat-card-title>
          <h3>Cash Flow Details</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div *ngIf="loading5" style="margin-bottom: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div style="border-bottom: solid 4px #3F51B5; " fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="100%" style="min-height:50px;">
            <div [ngClass]="{'disabled': loading5 == true}">
              <mat-form-field style="padding-right: 10px;">
                <mat-select placeholder="Type" value="d" [formControl]="typeCashFlow">
                  <mat-option value="y">
                    Year
                  </mat-option>
                  <mat-option value="m">
                    Month
                  </mat-option>
                  <mat-option value="d">
                    Day
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="padding-right: 10px;">
                <input matInput [matDatepicker]="dp5" placeholder="From" [formControl]="fromdate3">
                <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                <mat-datepicker #dp5 startView="multi-year" (yearSelected)="chosenYearHandler($event, dp5, 1, 2)"
                  (monthSelected)="chosenMonthHandler($event, dp5, 1, 2)"></mat-datepicker>
              </mat-form-field>
              <mat-form-field style="padding-right: 10px;">
                <input matInput [matDatepicker]="dp6" placeholder="To" [formControl]="todate3">
                <mat-datepicker-toggle matSuffix [for]="dp6"></mat-datepicker-toggle>
                <mat-datepicker #dp6 startView="multi-year" (yearSelected)="chosenYearHandler($event, dp6, 2, 2)"
                  (monthSelected)="chosenMonthHandler($event, dp6, 2, 2)"></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="getCashFlowChart()">Search</button>
              <span class="spacer"></span>
              <mat-form-field style="float: right;">
                <mat-select placeholder="Chart" value="d" [formControl]="chartTypeCashFlow">
                  <mat-option value="g">
                    Grid
                  </mat-option>
                  <mat-option value="l">
                    Line
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="ChartTypeCashFlow.value == 'g'"  style="margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="100%" style="height: 400px;">
              <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="cashFlow" [gradient]="gradient"
              [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
          </div>
        </div>
        <div *ngIf="ChartTypeCashFlow.value == 'l'"  style="margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="100%" style="height: 400px;">
            <div fxFlex="100%" style="height: 400px;">
              <ngx-charts-line-chart [scheme]="colorScheme" [results]="cashFlow" [gradient]="gradient" [xAxis]="true"
                [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel2"
                [yAxisLabel]="yAxisLabel" [autoScale]="true" (select)="onSelect($event)">
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>

      </mat-card-content>


      <mat-divider></mat-divider>

      <mat-card-header style="margin-bottom: 10px;">
        <mat-card-title>
          <h3>Receipt Details</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="loading1" style="margin-bottom: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div fxLayout="row" style="border-bottom: solid 4px #3F51B5; " fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="100%" style="min-height: 70px; ">
            <div [ngClass]="{'disabled': loading1 == true}">
              <mat-form-field class="padding-right-10">
                <input matInput [matDatepicker]="dp" placeholder="From" [formControl]="fromdate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="padding-right-10">
                <input matInput [matDatepicker]="dp1" placeholder="To" [formControl]="todate">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="getDetailsDiv1()">Search</button>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="25%" style="height: 200px;" fxLayoutAlign="center">
            <ngx-charts-pie-chart [view]="pieChartView" [scheme]="colorScheme" [results]="pieChartGrid" [legend]="false"
              [explodeSlices]="true" [labels]="false" [doughnut]="true" [gradient]="true" (select)="onSelect($event)">
            </ngx-charts-pie-chart>
          </div>

          <div fxFlex="75%" style="min-height: 200px;">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
              <div fxFlex="20%">
                <div class="new-Business-div" (click)="getDetails('RCNB')">
                  <p style="padding: 5px;">
                    <span style="font-size: 18px;">{{dashboardPie1.NewBusinessVal | number: '.2'}}</span><br>
                    <span style="font-size: 15px;">New Business</span><br>
                    <span style="font-size: 20px;">{{dashboardPie1.NewBusinessCount}}</span>
                  </p>
                </div>

              </div>
              <div fxFlex="20%">
                <div class="proposal-div" (click)="getDetails('RCPP')">
                  <p style="padding: 5px;">
                    <span style="font-size: 18px;">{{dashboardPie1.PropVal | number: '.2'}}</span><br>
                    <span style="font-size: 15px;">Proposal</span><br>
                    <span style="font-size: 20px;">{{dashboardPie1.PropCount}}</span>
                  </p>
                </div>
              </div>
              <div fxFlex="20%">
                <div class="policy-div" (click)="getDetails('RCPL')">
                  <p style="padding: 5px;">
                    <span style="font-size: 18px;">{{dashboardPie1.PolVal | number: '.2'}}</span><br>
                    <span style="font-size: 15px;">Policy</span><br>
                    <span style="font-size: 20px;">{{dashboardPie1.PolCount}}</span>
                  </p>
                </div>
              </div>
              <div fxFlex="20%">
                <div class="inv-div" (click)="getDetails('OIIS')">
                  <p style="padding: 5px;">
                    <span style="font-size: 18px;">{{dashboardPie1.InvVal | number: '.2'}}</span><br>
                    <span style="font-size: 15px;">Misc. INV / GL</span><br>
                    <span style="font-size: 20px;">{{dashboardPie1.InvCount}}</span>
                  </p>
                </div>
              </div>
              <div fxFlex="20%">
                <div class="gl-div" (click)="getDetails('GLRC')">
                  <p style="padding: 5px;">
                    <span style="font-size: 18px;">{{dashboardPie1.GlVal | number: '.2'}}</span><br>
                    <span style="font-size: 15px;">Loan</span><br>
                    <span style="font-size: 20px;">{{dashboardPie1.GlCount}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
              <div fxFlex="100%">
                <p>
                  <span style="font-size: 20px;">Total</span> <br>
                  <span style="font-size: 35px; font-weight: bold;">{{dashboardPie1.Total | number: '.2'}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-header style="margin-bottom: 10px;">
        <mat-card-title>
          <h3>Receipt Details</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="loading2" style="margin-bottom: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div style="border-bottom: solid 4px #3F51B5; " fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="100%" style="min-height:50px;">
            <div [ngClass]="{'disabled': loading2 == true}">
              <mat-form-field style="padding-right: 10px;">
                <mat-select placeholder="Type" value="d" [formControl]="type">
                  <mat-option value="y">
                    Year
                  </mat-option>
                  <mat-option value="m">
                    Month
                  </mat-option>
                  <mat-option value="d">
                    Day
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="padding-right: 10px;">
                <input matInput [matDatepicker]="dp3" placeholder="From" [formControl]="fromdate1">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 startView="multi-year" (yearSelected)="chosenYearHandler($event, dp3, 1, 1)"
                  (monthSelected)="chosenMonthHandler($event, dp3, 1, 1)"></mat-datepicker>
              </mat-form-field>
              <mat-form-field style="padding-right: 10px;">
                <input matInput [matDatepicker]="dp4" placeholder="To" [formControl]="todate1">
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 startView="multi-year" (yearSelected)="chosenYearHandler($event, dp4, 2, 1)"
                  (monthSelected)="chosenMonthHandler($event, dp4, 2, 1)"></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="getDetailsDiv2()">Search</button>
              <span class="spacer"></span>
              <mat-form-field style="float: right;">
                <mat-select placeholder="Chart" value="d" [formControl]="chartType">
                  <mat-option value="g">
                    Grid
                  </mat-option>
                  <mat-option value="l">
                    Line
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf="ChartType.value == 'g'" style="margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="100%" style="height: 400px;">
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="gridChartValues" [gradient]="gradient"
              [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
            </ngx-charts-bar-vertical-2d>
          </div>
        </div>

        <div *ngIf="ChartType.value == 'l'" style="margin-top: 10px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="100%" style="height: 400px;">
            <ngx-charts-line-chart [scheme]="colorScheme" [results]="gridChartValues" [gradient]="gradient" [xAxis]="true"
              [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel2"
              [yAxisLabel]="yAxisLabel" [autoScale]="true" (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>