.sk-style-mat-card{
    height: 740px;
     margin-top: 6px;
     margin-left: 6px;
     margin-right: -8px;
      margin-bottom: 6px;
}

.sk-style-mat-card{
    margin-top: 6px;
    margin-right: 6px;
     margin-bottom: 6px;
}