<div [hidden]="!loading_saving" class="loader">
  <h5>Saving...</h5>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [ngClass]="{'disabled': loading_saving == true}" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="50%">
    <mat-card class="main-card" style="height: 800px;">
      <mat-card-header>
        <mat-card-title>
          <h3>Miscellaneous Receipt</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div [hidden]="!loading_form" class="loader">
          <h5>Loading...</h5>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div [ngClass]="{'disabled': loading_form == true}">
          <form class="proposal-receipt-form" [formGroup]="receiptForm">
            <mat-form-field>
              <mat-select formControlName="branchCode" placeholder="Branch">
                <mat-option *ngFor="let branch of branches" [value]="branch.Id">
                  <span> {{ branch.Id }} </span> |
                  <small> {{ branch.Description }} </small>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="full-width">
              <input matInput placeholder="Bank Code *" aria-label="Bank Code" [matAutocomplete]="bank" formControlName="bankCode">
              <mat-autocomplete #bank="matAutocomplete">
                <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.BankCode">
                  <span> {{ bank.BankName }} </span> |
                  <small> {{ bank.BankCode }} </small>
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="BankCode.hasError('required')">
                Bank is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Agent Code *" aria-label="Agent Code" (keyup)="getAgents($event)"
                [matAutocomplete]="agentNumbers" formControlName="agentCode">
              <mat-autocomplete #agentNumbers="matAutocomplete">

                <mat-option *ngFor="let agent of filteredAgents | async" [value]="agent.AgentCode ">
                  <span> {{ agent.AgentCode }} </span> |
                  <small> {{ agent.AgentName }} </small> |
                  <small> {{ agent.Location }} </small>
                </mat-option>

              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Remark" aria-label="Remark" formControlName="remark">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Payment Mode" aria-label="Payment Mode" formControlName="paymode">
                <mat-option value="02.CASH">
                  CASH
                </mat-option>
                <mat-option value="01.CHEQUE">
                  CHEQUE
                </mat-option>
                <!-- <mat-option value="CR">
                      CREDIT CARD
                    </mat-option>
                    <mat-option value="DD">
                      DIRECT DEPOSIT
                    </mat-option> -->
              </mat-select>
              <mat-error *ngIf="PayMode.hasError('required')">
                Pay Mode is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>
            <mat-card *ngIf="PayMode.value == 'CQ'" style="margin-bottom: 10px;">
              <mat-form-field class="half-width">
                <input matInput placeholder="Cheque No" aria-label="Cheque No" formControlName="chequeno">
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Cheque Date" formControlName="chequedate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Bank" aria-label="Bank" formControlName="chequebank">
              </mat-form-field>
            </mat-card>
            <!-- <mat-card *ngIf="PayMode.value == 'CR'" style="margin-bottom: 10px;">
                  <mat-form-field class="half-width">
                    <input matInput placeholder="Credit Transfer No" aria-label="Credit Transfer No" formControlName="credittransferno">
                  </mat-form-field>
                </mat-card> -->

            <mat-form-field class="full-width">
              <input matInput disabled readonly placeholder="Amount" type="number" aria-label="Amount" class="right-align"
                formControlName="amount">
              <span matPrefix>Rs.</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="Amount.hasError('required')">
                Amount is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Amount in Word" readonly disabled aria-label="Amount in Word"
                formControlName="amountInWord">
            </mat-form-field>

          </form>
        </div>

      </mat-card-content>
      <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
          justify-content: space-between;">
        <button mat-raised-button color="warn" (click)="newReceipt()">CLEAR</button>
        <button mat-raised-button color="primary" (click)="saveReceipt()">SAVE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="50%">
    <mat-card class="main-card" style="height: 484px;">
      <mat-card-header>
        <mat-card-title>
          <h3>Expenses</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [hidden]="!loading_form2" class="loader">
          <h5>Loading...</h5>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div [ngClass]="{'disabled2': loading_form2 == true}">
          <form class="proposal-receipt-form" [formGroup]="expenceForm">
            <mat-form-field class="full-width">
              <mat-select placeholder="Expense Code" (change)="fillExpence()" formControlName="expenceId">
                <mat-option *ngFor="let expence of expences" [value]="expence.expenseId">
                  <span> {{ expence.ExpenseId }} </span> |
                  <small> {{ expence.Description }} </small>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
              <input matInput placeholder="Expence Remark" formControlName="expenseRemark">
            </mat-form-field>
            <mat-form-field class="half-width">
              <input readonly type="number" matInput placeholder="Amount" formControlName="expenceAmount">
            </mat-form-field>
            <mat-form-field style="padding-left: 40px;" class="half-width">
              <input type="number" matInput placeholder="Quantity" formControlName="expenceQty">
              <mat-error *ngIf="ExpenceQty.hasError('valied')">
                Quantity is
                <strong>REQUIRED</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </div>

      </mat-card-content>
      <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
          justify-content: space-between;">
        <button mat-raised-button color="warn" (click)="deleteInCart()">Delete</button>
        <button mat-raised-button color="primary" (click)="addToCart()">Add</button>
      </mat-card-actions>

      <mat-card-content>
        <div style="height: 188px; overflow-y: auto;">
          <mat-table #table [dataSource]="expencesCart">
            <ng-container matColumnDef="expcod">
              <mat-header-cell *matHeaderCellDef> Expense Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ExpenseId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef> Remark </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Remark}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef style="text-align: right"> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right"> {{element.Qty}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef style="text-align: right"> Amount </mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right"> {{element.Amount}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="expColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: expColumns; let i = index;" (click)="loadExp(row, i)"></mat-row>
          </mat-table>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="main-card" style="height: 258px;">

      <div [hidden]="!loading_table" class="loader">
        <h5>Loading...</h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div [ngClass]="{'disabled': loading_table == true}">
        <mat-table #table [dataSource]="data" style="height: 258px;">
          <ng-container matColumnDef="doccod">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DocCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="docnum">
            <mat-header-cell *matHeaderCellDef> Receipt No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DocNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="credat">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Date}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="agent">
            <mat-header-cell *matHeaderCellDef style="text-align: right"> Agent Code </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: right"> {{element.AgentCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef style="text-align: right"> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: right"> {{element.Amount}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>


    </mat-card>
  </div>
</div>