<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>
      <h3>Pending Receipt Cancelations</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="max-height: 380px;overflow-x: auto;">
    <div [hidden]="!loading1" class="loader">
      <h5>Loading...</h5>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-table [dataSource]="receiptList" class="mat-elevation-z8" style="padding: 20px;">
      <ng-container matColumnDef="proposalNo">
        <mat-header-cell *matHeaderCellDef> Proposal No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PprNum}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="policyNo">
        <mat-header-cell *matHeaderCellDef> Policy No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PolNum}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="receiptNo">
        <mat-header-cell *matHeaderCellDef> Receipt No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ReceiptNo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="docCode">
        <mat-header-cell *matHeaderCellDef> Doc Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DocCode}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef style="display: flex; justify-content: flex-end; padding-right: 10px;">
          Amount </mat-header-cell>
        <mat-cell *matCellDef="let element" style="display: flex; justify-content: flex-end; padding-right: 10px;">Rs.
          {{element.Amount | number: '.2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Reason}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestBy">
        <mat-header-cell *matHeaderCellDef> Requested By </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.RequestBy}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestDate">
        <mat-header-cell *matHeaderCellDef> Request Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.RequestDate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnReceiptCancelation"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnReceiptCancelation;"></mat-row>
    </mat-table>

  </mat-card-content>
  <mat-card-actions style="border-top: solid #C4C4C4 1px; display: flex; 
                  justify-content: space-between;">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="loadNextData();" showFirstLastButtons></mat-paginator>
  </mat-card-actions>
</mat-card>