.spacer {
    flex: 1 1 auto;
}

.padding-right-10{
    padding-right: 10px;
}

.new-Business-div {
    border-left: solid 5px #8D6E63; 
    background: #D7CCC8; 
    margin-top: 0px;
    cursor: pointer;
}

.new-Business-div:hover {
    border-left: solid 5px #A1887F; 
    background: #BCAAA4; 
}


.proposal-div{
    border-left: solid 5px #78909C; 
    background: #CFD8DC; 
    margin-top: 0px;
    cursor: pointer;
}

.proposal-div:hover{
    border-left: solid 5px #90A4AE; 
    background: #B0BEC5; 
}


.policy-div{
    border-left: solid 5px #4DB6AC; 
    background: #E0F2F1;
    margin-top: 0px;
    cursor: pointer;
}

.policy-div:hover{
    border-left: solid 5px #80CBC4; 
    background: #B2DFDB;
}

.inv-div{
    border-left: solid 5px #FFB74D;
    background: #FFF3E0;
    margin-top: 0px;
    cursor: pointer;
}

.inv-div:hover{
    border-left: solid 5px #FFCC80;
    background: #FFE0B2;
}

.gl-div{
    border-left: solid 5px #7561F4; 
    background: #cac3f4; 
    margin-top: 0px;
    cursor: pointer;
}

.gl-div:hover{
    border-left: solid 5px rgb(94, 70, 248); 
    background: #beb5f5; 
}

.flex-box{
    width: 100%; height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.icon_dash{
    width: 90%; height: 90%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #F7F7F7;
    background-position: center;
}


.sk-style-mat-card{
    min-height: 500px;
     margin-top: 6px;
     margin-left: 6px;
     margin-right: 6px;
      margin-bottom: 6px;
}

.sk-style-mat-card-2{
    margin-top: 6px;
    margin-right: 6px;
     margin-bottom: 6px;
}